{% extends 'base.html' %}

{% block content %}
  <!-- Leaving the action empty makes the form post to the same url used to display it -->
  <form class="event-form-square" action="" method="POST">
    <!-- Django requires the following for security purposes -->
    {% csrf_token %}
    <table>
      <!-- Render the inputs inside of <tr>s & <td>s -->
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit!" class="btn">
  </form>

  <script>
    const dateEl = document.getElementById('id_event_time');
    M.Timepicker.init(dateEl, {
      format: 'HH:mm',
      twelveHour: false,
    //     pickSeconds: false,
    //   pick12HourFormat: false,
    //   defaultTime: defaultTime,
    //   setDefaultDate: false,
      autoClose: true
    });
    const eventDate = document.getElementById('id_event_date');
    M.Datepicker.init(eventDate, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });
  </script>
{% endblock %}