{% extends 'base.html' %}
{% block content %}

 <h1>Event List</h1>

 <div class="card">
    <!-- add this single line below -->
    <a href="{% url 'detail' event.id %}">
      <div class="card-content">
        <span class="card-title">{{ event.name }}</span>
        <p>location: {{ event.location }}</p>
        <p>event_time: {{ event.event_time }}</p>
        <p>time_created: {{ event.time_created }}</p>
        <p>details: {{ details.description }}</p>
        <p>event_time: {{ event.description }}</p>
        <p>user: {{ event.user }}</p>
{% endfor %} 

{% endblock %}