{% extends 'base.html' %}
{% block content %}

<div class="fixed">
<div id="map" 
{% if user.is_authenticated %}
class="logged-in" 
{% endif %}>
</div>
</div>
<div class="spacer"></div>
<h1>Event List</h1>

{% for event in events %}
<a href="#page-top">
<div class="card">    
    <div id='{{ event.id }}'class="card-content">
        <span class="card-title">{{ event.name }}</span>
        <p>location: {{ event.location }}</p>
        <p>event_time: {{ event.event_time }}</p>
        <p>time_created: {{ event.time_created }}</p>
        <p>details: {{ event.details }}</p>
        <p>event_time: {{ event.event_time }}</p>
        <p>user: {{ event.user }}</p>
    </div>
<div>
</a>
{% endfor %} 

{% endblock %}