{% extends 'base.html' %}
{% block content %}
<h1>About Page</h1>
<hr />
<p class="aboutp">In a world where technology has made it possible to plug in and tune out the world around us, we here at Party P!N are creating a way to tune IN, and CONNECT with the world around us! We know the solution isnt to fight the wave of technology, and we, at team Party P!N, are NOT here to tell you what to do! But we do want give you a few solid options! from beach parties on the west side, to the best hiking spots in the hills, and even exclusive networking events! You may never know how many oportunities youve passed right by, but with P!N Drop you can see all the opportunities in your area, which is especially helpful when youre not in "your area"! </p>
{% endblock %}