body {
    background-color: #2980b9;

}
h1 {
    text-align: center;
    font-size: 100px;
    color: #efeded;
    font-weight: bold;
    text-shadow: 3px 9px black;
    background-color: #2980b9;
}

h2 {
    padding-top: 0%;
    text-align: center;
    font-size: 35px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: white;
    text-shadow: 3px 4px black;
}

.image1 {
    background-image: url(https://storage.googleapis.com/gweb-uniblog-publish-prod/images/Trends_Hero_Image.max-1000x1000.jpg);
    /* https://files.realpython.com/media/Screenshot_2018-12-09_at_17.58.16.20be0c5d3f1e.png */
    height: 50vh;
    width: 100%;
    /* background-color: purple; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutp {
    font-size: 30px;
    text-indent: 50px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
/* .row {
    font-size: 20px;
    text-indent: 50px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    text-align: center;
} */

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
.row {
    display: flex;
    align-items: flex-end
}
.column {
    flex: 33.33%;
    padding: 5px;
    font-size: 20px;
}

.section-bottom {
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #2980b9;
}
.section-top {
    background-color: #dddbdb;
}

.section-middle {
    background-color: #e2e2e2;
}
.section-bottom {
   /* background-color: white; */

}


/* ------Header and footer------ */

.nav-wrapper {
    background-color:rgb(51, 51, 51);
}
.right {
  font-weight: lighter;
}

.left.brand-logo {
    background-color: rgb(51, 51, 51);
}
.white-logo{
    color: white;
    font-size: 30px;
  }
  .red-logo{
    color: red;
    font-size: 30px;
  }


.bottomright {
    padding-bottom: 20px;
    font-size: 15px;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(51, 51, 51);;
    
}

.page-footer {
    background-color:#2980b9;
    font-weight: bold;
}

#icons {
    color: white;
    text-shadow: 3px 6px black;
    margin:0 25px
}

.circle {
    border: 5px solid white;
}