
.left.brand-logo{
background-color: rgb(51, 51, 51);
}
.white-logo{
  color: white;
  font-size: 30px;
}
.red-logo{
  color: red;
  font-size: 30px;
}

.right {
background-color: rgb(51, 51, 51);
}
body {
    background-color: rgb(51, 51, 51);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  h1 {
    color:white;
    font-size: 140px;
    font-weight: bold;
    text-shadow: 3px 13px black;
    border: 7px solid #ffe083;
  }
 .page-footer{
   background-color: rgb(250, 235, 215);
 }
  .nav-wrapper{
    background-color:rgb(51, 51, 51);
  }
main {
    /* flex: 1 0 auto; */
    width: 100vh;
  }
   
  footer.page-footer {
    padding-top: 0;
    text-align: right;
    background-color:rgb(51, 51, 51);
  }
.right{
  font-weight: lighter;
}

#map {
    height: 100vh;
    width: 100vw;
    position:fixed;
  }
.card{
  color: rgb(255, 153, 0);
  font-weight:lighter;
  background-color: rgb(51, 51, 51);
}
.aboutp{
font-size:x-large;
font-weight: lighter;
color: aliceblue;
}
#map{
  border: 0ch;
  width: 100vw;
  height: 100vh;
}

.card {
  background-color: #ddcebf;
}
.card .card-content .card-title {
  display: block;
  line-height: 32px;
  margin-bottom:8px;
  color: #2f2535;
}
.card .card-content p {
color:#2f2535;
font-size: 3vh;
}
.fixed {
  position:fixed;
  top:0;
  left: 0;
}
.spacer{
  height: 100vh;
}


/* ---------------- Sign up css ------------------- */
.signupform {
  color: whbite;
}
.signupform:hover {
  opacity: 0.9;
}
#label {
  color: white;
}
.container{
  display: flex;
  margin: auto;
  padding: 0;
  flex-direction: column;
  align-items: center;
  /* background-color: white; */
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  background-color: #2980b9;
  background-image: url("https://images.pexels.com/photos/1134166/pexels-photo-1134166.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  /* https://media.istockphoto.com/vectors/seamless-pattern-with-navigation-icons-vector-id1223483183 */
  
  
}
form.signupform{
  /* background-color: white; */
  border: 12px solid black;
  padding: 20px 40px 60px 30px;
  background-color: white;
  color:black;
  margin-top: 30px;
  margin-right: 50px;
  margin-bottom: 40px;
  margin-left: 30px;
  font-size: 25px;
  border-radius: 25px;
  border: 7px solid black;
  /* border: 7px solid #ffe083; */
}
/* ---------------- End of sign up css ------------------- */
form.login-square {
  /* border: 12px solid #baafa8; */
  padding: 10px 70px 100px 90px;
  background-color: white;
  color:black;
  margin-top: 60px;
  margin-right: 80px;
  margin-bottom: 70px;
  margin-left: 60px;
  font-size: 55px;
  border-radius: 25px;
  border: 7px solid black;
  /* border: 7px solid #ffe083; */
}
label.active {
  color: black
}

/* --------event form------------------ */
form.event-form-square{
  padding: 10px 70px 100px 90px;
  background-color: white;
  color:black;
  margin-top: 60px;
  margin-right: 80px;
  margin-bottom: 70px;
  margin-left: 60px;
  font-size: 55px;
  border-radius: 25px;
  /* border: 7px solid black; */
  border: 7px solid #ffe083;
}

/* --------------delete form----------------------- */
h4 {
  color: white;
  font-size: 60px;
}

#deletebtn {
  font-size: 40px;
  /* font-weight: bold; */
  padding: 20px 10px 50px 20px;
  text-align: center;
  border-radius: 25px;
}
.cancelbtn {
  color: white;
  font-weight: bold;
  font-size: 30px;
  padding-left: 30px;
  /* padding-top: 10px; */
}
.teal-text {
  color: red;
}