body {
    display: flex;
    min-height: 100vh;
    
    flex-direction: column;
    background: radial-gradient(#e66465, #9198e5);

  }
  
main {
    /* flex: 1 0 auto; */
    width: 100vh;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }

#map {
    height: 100vh;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }
