
.left.brand-logo{
background-color: rgb(51, 51, 51);
color: rgb(255, 153, 0);
}
.right {
background-color: rgb(51, 51, 51);
}
body {
    background-color: rgb(51, 51, 51);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  h1 {
    color:rgb(255, 153, 0);
  }
 .page-footer{
   background-color: rgb(250, 235, 215);
 }
  .nav-wrapper{
    background-color:rgb(51, 51, 51);
  }
main {
    /* flex: 1 0 auto; */
    width: 100vh;
  }
   
  footer.page-footer {
    padding-top: 0;
    text-align: right;
    background-color:rgb(51, 51, 51);
  }
.right{
  font-weight: lighter;
}

#map {
    height: 100vh;
    width: 100vw;
    position:fixed;
  }
.card{
  color: rgb(255, 153, 0);
  font-weight:lighter;
  background-color: rgb(51, 51, 51);
}
.aboutp{
font-size:x-large;
font-weight: lighter;
color: aliceblue;
}
#map{
  border: 0ch;
  width: 100vw;
  height: 100vh;
}
.container{
  display: flex;
    margin: auto;
    padding: 0;
    flex-direction: column;
    align-items: center;
}
.card {
  background-color: #ddcebf;
}
.card .card-content .card-title {
  display: block;
  line-height: 32px;
  margin-bottom:8px;
  color: #2f2535;
}
.card .card-content p {
color:#2f2535;
font-size: 3vh;
}
.fixed {
  position:fixed;
  top:0;
  left: 0;
}
.spacer{
  height: 100vh;
}